      /* https://codepen.io/aldrie/pen/PojGYLo */
      
.header-container {
    width: 45%;
    max-height: 300px;
    color: var(--color);
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    margin:auto;
    justify-content: center;
    }
    
    .left{
      font-size: 3rem;
      text-align: left;
      position: relative;
      top: 60px;
    }
    .right {
      font-size: 3rem;
      text-align: right;
      width: 100%;
      position: relative;
      top: -60px;
    }
    
    .stack {
      display: grid;
      width: 10%;
      grid-template-columns: 1fr;
      margin:auto;
      justify-content: center;
    }
    
    .stack span {
      padding: 0px;
      color:#fff;  
      font-size: 10rem;
      font-weight: normal;
      /* font-family: 'Rubik Glitch'; */
      grid-row-start: 1;
      grid-column-start: 1;
      --stack-height: calc(100% / var(--stacks) - 1px);
      --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
      --clip-top: calc(var(--stack-height) * var(--index));
      --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
      clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
      animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
    }
    
    .stack span:nth-child(odd) { --glitch-translate: 300px; }
    .stack span:nth-child(even) { --glitch-translate: -500px; }
    
    @keyframes stack {
      0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      };
      60% {
        opacity: 0.5;
        transform: translateX(50%);
      }
      80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
      }
      100% {
        text-shadow: none;
      }
    }
    
    @keyframes glitch {
      0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
      }
      2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
      }
      4%, 100% {  text-shadow: none; transform: none; }
    }

  @media (max-width: 900px) {
    /* Adjust the font size for better readability on mobile devices */
    .stack span {
        font-size: 5rem; /* Adjust the font size to a smaller value */
    }
 
    .container {
      font-size: 0.6rem;
    }

    .left{
      font-size: 1.3rem;
      top: auto;
    }
    .right{
      font-size: 1.3rem;
      top: auto;
    }
}