body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: #282c35;
    color: #fff; */
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background: var(--background); */
}

header {
    text-align: center;
    padding: 50px;
    /* background-color: #1a1e24; */
    /* background-color: #212529; */
}

h1 {
    font-family: 'Rubik Glitch';
    /* color: #61dafb; */
    font-size: 10em;
    font-weight: normal;
    margin-bottom: 10px;
} 

p {
    line-height: 1.6;
} 

section {
    padding: 30px;
   
}

h2 {
    /* color: #61dafb; */
    font-size: 3em;
    font-weight: normal;
    font-family: 'Rubik Glitch';
} 

footer {
    text-align: center;
    padding: 10px;
    background-color: #1a1e24;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    color: var(--color);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .right {
    text-align: right;
    width: 100%;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    /* color: #61dafb; */
    color:#fff;
    font-size: 10em;
    font-weight: normal;
    font-family: 'Rubik Glitch';
    /* font-weight: bold; */
    grid-row-start: 1;
    grid-column-start: 1;
    /* font-size: 4rem; */
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }